.tarjeta {
  background-color: #431111;
    display: flex;
    flex-direction: column;
    width: 300px;
    color: white;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 5px;
}

img {
  width:200px;
  height:200px
}