main{
 
    background-color: rgb(215, 243, 167);
}
section{
  background-color: #997a7a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}
img {
  width:200px;
  height:200px
}
.tarjeta {
  background-color: #0e0c0c17;
    display: flex;
    flex-direction: column;
    width: 300px;
    color: white;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 16px 5px;
    border: 1px solid wheat;
}
header{
  background-image: linear-gradient(181deg, black, #a18888);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}